@use "../../variables" as v;
@use "../../mixins" as m;

.profile {
  width: 100%;
  padding: 64px 0px 32px 0px;

  &__content {
    margin: 0 auto;
    padding: 30px;
    max-width: 1280px;
    background-color: v.$background-element-color;
    border: 1px solid v.$border-color;
    border-radius: 30px;
    display: flex;
    gap: 60px;

    @include m.media-1439 {
      max-width: 768px;
      flex-direction: column;
      align-items: center;
    }

    @include m.media-1023 {
      max-width: 680px;
    }

    @include m.media-767 {
      padding: 30px 5px 10px 5px;
      max-width: 290px;
      gap: 30px;
    }
  }

  &__aboutme {
    @include m.media-767 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    width: 300px;
    height: 84px;
    margin-bottom: 64px;
    border: 4px solid v.$light-blue;
    border-radius: 40px 0px;
    background-color: v.$main-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m.text-fontsize-x-large;
    color: v.$main-text-color;

    @include m.media-767 {
      width: 224px;
      height: 68px;
      margin-bottom: 32px;
      @include m.text-fontsize-large;
    }
  }

  &__description {
    padding: 24px 40px;
    border-radius: 40px;
    border: 1px solid v.$border-color;
    background-color: v.$main-background-color;

    @include m.media-767 {
      padding: 24px 10px;
    }
  }

  &__html-tag {
    @include m.text-fontsize-xx-small;
    color: v.$light-blue;
  }

  &__main-text {
    padding: 16px 0px 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include m.media-767 {
      padding: 8px 0px 8px 12px;
      gap: 8px;
    }
  }

  &__text {
    @include m.text-fontsize-small;
    color: v.$main-text-color;
  }

  &__text-color {
    color: v.$light-blue;
  }

  &__user-photo {
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid v.$border-color;

    @include m.media-1679 {
      width: 458px;
    }

    @include m.media-1439 {
      width: 462px;
    }

    @include m.media-767 {
      width: 278px;
      height: 300px;
    }
  }
}
