@use "../../variables" as v;
@use "../../mixins" as m;

.uploadimg {
  &__form {
    min-width: 350px;
    padding: 20px;

    background-color: rgb(19, 28, 49, 0.7);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__form-field {
    min-width: 300px;
    min-height: 300px;
    padding: 5px;
    background-color: rgb(15, 23, 42, 0.6);

    border: 1px dotted v.$blue;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }

  &__form-field:hover {
    background-color: rgb(15, 23, 42, 0.4);
  }

  &__input {
    display: none;
  }

  &__text {
    color: v.$blue;
  }

  &__lists {
    padding: 20px;
    min-width: 600px;

    background-color: transparent;

    border: 1px solid v.$blue;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    gap: 20px;
  }

  &__url {
    @include m.text-fontsize-x-small;
    color: v.$blue;
  }

  &__btn {
    min-width: 250px;
    min-height: 60px;

    background-color: transparent;

    border: 1px solid v.$blue;
    border-radius: 15px;

    @include m.text-fontsize-x-small;
    color: v.$white;
  }

  &__btn:hover {
    cursor: pointer;
    background-color: rgb(15, 23, 42, 0.2);
  }

  &__btn:active {
    background-color: rgb(15, 23, 42, 0.6);
  }
}
