@use "../../variables" as v;
@use "../../mixins" as m;

.tagcard {
  &__link {
    min-width: 200px;
    height: 72px;
    border-radius: 20px;
    border: 1px solid v.$border-color;
    background-color: v.$background-element-color;
    display: flex;
    gap: 7px;
    align-items: center;
    @include m.text-fontsize-x-small;
    color: v.$text-color;
    @include m.hover {
      transition-duration: 0.2s;
      color: v.$blue;
      border: 1px solid v.$blue;
      box-shadow: v.$shadow;
      transform: translateY(-2px);
    }
  }

  &__image {
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid v.$border-color;
  }
}
