@use "../../variables" as v;
@use "../../mixins" as m;

.skills {
  width: 100%;
  padding: 32px 0px;

  &__content {
    margin: 0 auto;
    padding: 30px;
    max-width: 1280px;
    background-color: v.$background-element-color;
    border: 1px solid v.$border-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;

    @include m.media-1439 {
      max-width: 768px;

      flex-direction: column;
      align-items: center;
    }

    @include m.media-1023 {
      max-width: 680px;
    }

    @include m.media-767 {
      padding: 30px 5px 10px 5px;
      max-width: 290px;
      gap: 30px;
    }
  }

  &__title {
    width: 300px;
    height: 84px;
    margin: 0px 0px 0px auto;
    border: 4px solid v.$light-blue;
    border-radius: 0px 40px;
    background-color: v.$main-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m.text-fontsize-x-large;
    color: v.$main-text-color;

    @include m.media-767 {
      width: 224px;
      height: 68px;
      margin: 0px;
      @include m.text-fontsize-large;
    }
  }

  &__techs {
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }

  &__tech {
    width: 280px;
    padding: 12px;
    background-color: v.$main-background-color;

    border: 1px solid v.$border-color;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    padding-top: 5px;
    @include m.text-fontsize-large;
    color: v.$light-blue;

    @include m.media-767 {
      @include m.text-fontsize-small;
    }
  }

  &__description {
    padding-top: 10px;
    text-align: center;
    @include m.text-fontsize-small;
    color: v.$main-text-color;

    @include m.media-767 {
      @include m.text-fontsize-x-small;
    }
  }
}
