@use "../../mixins" as m;
@use "../../variables" as v;

.footer {
  &__content {
    margin: 0px auto;
    max-width: 1440px;
    min-height: 170px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid v.$border-color;

    @include m.media-1679 {
      max-width: 1280px;
    }

    @include m.media-1439 {
      max-width: 768px;
      min-height: 116px;
    }

    @include m.media-1023 {
      max-width: 680px;
    }

    @include m.media-767 {
      max-width: 290px;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__copyright {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: v.$white;

    @include m.media-1439 {
      font-weight: 300;
      line-height: 18px;
    }

    @include m.media-767 {
      font-weight: 300;
      line-height: 18px;
    }
  }

  &__copyright_type_color {
    color: v.$light-blue;
  }
}
