@use "../variables" as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: rgba(v.$light-blue, 0.1);
  color: v.$light-blue;
}
