@use "../../mixins" as m;
@use "../../variables" as v;

.header {
  &__content {
    margin: 0px auto;
    max-width: 1440px;
    min-height: 170px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m.media-1679 {
      max-width: 1280px;
    }

    @include m.media-1439 {
      max-width: 768px;
    }

    @include m.media-1023 {
      max-width: 680px;
    }

    @include m.media-767 {
      max-width: 290px;
      min-height: 100px;
    }
  }

  &__button {
    display: none;
    cursor: pointer;

    @include m.media-1439 {
      display: flex;

      border: none;
    }
  }

  &__button_type_open {
    width: 38px;
    height: 38px;

    background-image: url(../../_images/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
  }

  &__button_type_close {
    width: 22px;
    height: 22px;

    background-image: url(../../_images/Closeicon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 999;
  }
}

.menu {
  display: flex;
  align-items: center;

  @include m.media-1439 {
    display: none;
  }

  &_type_open {
    width: 500px;
    height: 100%;
    background-color: v.$main-background-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid v.$border-color;
    box-shadow: v.$shadow;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    @include m.media-767 {
      width: 100%;
    }
  }
}
