@use "../../variables" as v;
@use "../../mixins" as m;

.articleheader {
  padding-top: 50px;
  border-top: 1px solid v.$border-color;

  &__conteiner {
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    @include m.media-1439 {
      max-width: 768px;
    }
    @include m.media-1023 {
      max-width: 680px;
      flex-direction: column;
    }
    @include m.media-767 {
      max-width: 290px;
    }
  }

  &__title {
    @include m.header-fontsize-h1;
    @include m.text-gradient;
    @include m.media-767 {
      @include m.text-fontsize-large;
    }
  }

  &__author {
    padding-top: 30px;
    display: flex;
    align-items: center;
  }

  &__avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &__author-avatar-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid v.$light-blue;
    @include m.hover {
      border: 1px solid v.$blue;
      box-shadow: v.$shadow;
    }
  }

  &__author-info {
    padding-left: 10px;
  }

  &__author-link {
    @include m.text-fontsize-small;
    color: v.$text-color;
    @include m.hover {
      color: v.$blue;
    }
  }

  &__date-publick {
    padding-top: 3px;
    @include m.text-fontsize-small;
    color: v.$text-color;
  }

  &__share {
    min-width: 300px;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    @include m.media-1023 {
      padding-top: 10px;
      margin-left: 0px;
    }
  }

  &__share-text {
    height: 60px;
    padding-left: 30px;
    margin-left: auto;
    border-left: 1px solid v.$border-color;
    display: flex;
    align-items: center;
    @include m.media-1023 {
      margin-left: 0px;
      padding-left: 0px;
      border-left: none;
    }
  }

  &__share-link {
    height: 60px;
    margin-left: 30px;
    display: flex;
    align-items: center;
  }

  &__share-text {
    @include m.text-fontsize-small;
    color: v.$text-color;
    opacity: 0.7;
  }
}
