@use "../../variables.module" as v;
@use "../../mixins" as m;

.sidebar {
  min-width: 300px;
  min-height: 100vh;
  background-color: rgb(15, 23, 42, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__lists {
    list-style: none;
  }

  &__list {
    padding-top: 10px;
  }

  &__button {
    min-width: 250px;
    min-height: 60px;

    display: flex;
    gap: 10px;

    align-items: center;
    background-color: transparent;

    border: 1px solid;
    border-radius: 15px;

    @include m.text-fontsize-x-small;
    color: v.$blue;
  }

  &__button:hover {
    cursor: pointer;
    background-color: rgb(15, 23, 42, 0.2);
  }

  &__button:active {
    background-color: rgb(15, 23, 42, 0.6);
  }

  &__img {
    margin-left: 10px;
    border-radius: 50%;
  }
}

.mainPanel {
  min-width: calc(100% - 300px);

  display: flex;
  align-items: center;
  justify-content: center;
}
