@use "../../variables" as v;
@use "../../mixins" as m;

.content {
  width: 100%;
  height: 100vh;

  background-image: url(../../_images/adminbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
}

.sidebar {
  min-width: 300px;
  min-height: 100vh;
  background-color: rgb(15, 23, 42, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__lists {
    list-style: none;
  }

  &__list {
    padding-top: 10px;
  }

  &__btn {
    min-width: 250px;
    min-height: 60px;

    display: flex;
    gap: 10px;

    align-items: center;
    background-color: transparent;

    border: 1px solid v.$blue;;
    border-radius: 15px;

    @include m.text-fontsize-x-small;
    color: v.$blue;
  }

  &__btn:hover {
    cursor: pointer;
    background-color: rgb(15, 23, 42, 0.2);
  }

  &__btn:active {
    background-color: rgb(15, 23, 42, 0.6);
  }

  &__img {
    margin-left: 10px;
    border-radius: 50%;
  }
}

.dashboard {
  min-width: calc(100% - 300px);

  display: flex;
  align-items: center;
  justify-content: center;
}
