@use "../../variables" as v;
@use "../../mixins" as m;

.articledownloadform {
  &__form {
    min-width: 700px;
    padding: 20px;
    background-color: rgb(19, 28, 49, 0.7);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__input {
    padding: 10px;
    min-width: 600px;
    height: 38px;
    background-color: transparent;
    @include m.text-fontsize-xx-small;
    color: v.$white;

    &_type_article {
      border: 1px solid v.$blue;
      border-radius: 15px;
    }

    &_type_category {
      border: 1px solid v.$aqamarin;
      border-radius: 15px;
    }

    &_type_tag {
      border: 1px solid v.$dark-blue;
      border-radius: 15px;
    }
  }

  &__input::placeholder {
    color: v.$white;
  }

  &__input:focus {
    background-color: rgb(15, 23, 42, 0.6);
  }

  &__lists {
    padding: 10px;
    min-width: 600px;
    height: 38px;
    background-color: transparent;
    @include m.text-fontsize-xx-small;
    color: v.$white;

    &_type_category {
      border: 1px solid v.$aqamarin;
      background-color: rgb(15, 23, 42, 0.6);
    }

    &_type_tag {
      height: auto;
      border: 1px solid v.$dark-blue;
      background-color: rgb(15, 23, 42, 0.6);
    }
  }

  &__list {
    color: v.$blue;
  }

  &__list:focus {
    background-color: rgb(15, 23, 42, 0.6);
  }

  &__btn {
    min-width: 200px;
    min-height: 60px;
    background-color: transparent;
    border: 1px solid v.$blue;
    border-radius: 15px;
    @include m.text-fontsize-x-small;
    color: v.$white;
    @include m.hover {
      cursor: pointer;
      background-color: rgb(15, 23, 42, 0.2);
    }
  }

  &__btn:active {
    background-color: rgb(15, 23, 42, 0.6);
  }

  &__editor-wrapper {
    width: 100%;
    max-width: 700px;
    border: 1px solid v.$blue;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(19, 28, 49, 0.7);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__editor-wrapper .dark-editor {
    border-radius: 10px;
    padding: 10px;
    min-height: 280px;
    background-color: rgb(15, 23, 42, 0.8);
    color: v.$white;

    .cm-content {
      max-height: 400px;
      overflow-y: auto;
    }

    .sp-wrapper {
      border-radius: 10px;
      border: 1px solid v.$blue;
    }
  }
}
