@use "../../../variables" as v;
@use "../../../mixins" as m;

.article {
  margin: 0px auto;
  max-width: 1440px;

  @include m.media-1679 {
    max-width: 1280px;
  }

  @include m.media-1439 {
    max-width: 768px;
  }

  @include m.media-1023 {
    max-width: 680px;
  }

  @include m.media-767 {
    max-width: 290px;
  }

  &__body {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr minmax(14rem, 25%);

    @include m.media-1023 {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }

  &__post {
  }

  &__post-image {
    width: 100%;
    border-radius: 30px;
    border: 1px solid v.$border-color;
    margin-bottom: 30px;
    @include m.media-767 {
      width: 290px;
      height: 240px;
    }
  }

  &__content {
    padding: 0px 20px 60px 0px;
    @include m.media-767 {
      padding: 0px 0px 60px 0px;
    }
  }

  &__text {
    @include m.text-fontsize-small;
    color: v.$text-color;
  }

  &__subtitle {
    padding: 10px 0px;
    @include m.text-fontsize-large;
    color: v.$text-color;
  }

  &__subsubtitle {
    padding: 7px 0px;
    @include m.text-fontsize-medium;
    color: v.$text-color;
  }

  &__list {
    margin-left: 35px;
    color: v.$text-color;
  }

  &__list-numbered {
    margin-left: 35px;
    color: v.$text-color;
  }

  &__list-item {
    padding: 7px 0px;
  }

  &__link {
    color: v.$blue;
  }

  &__quote {
    margin: 15px 0px;
    padding: 10px;
    @include m.text-fontsize-large;
    color: v.$main-text-color;
    border-radius: 15px;
    border: 1px solid v.$border-color;
    background-color: v.$background-element-color;
  }
}
