@use "../../variables" as v;
@use "../../mixins" as m;

.category {
  margin: 0px auto;
  max-width: 1440px;

  @include m.media-1679 {
    max-width: 1280px;
  }

  @include m.media-1439 {
    max-width: 768px;
  }

  @include m.media-1023 {
    max-width: 680px;
  }

  @include m.media-767 {
    max-width: 290px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr minmax(14rem, 25%);

    @include m.media-1023 {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }

  &__content {
    padding: 0px 20px 60px 0px;
    @include m.media-767 {
      padding: 0px 0px 60px 0px;
    }
  }
}
