@use "./variables" as v;

@mixin text-gradient {
  background: v.$text-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-fontsize-xx-small {
  font-size: v.$font-size-xx-small;
  font-weight: v.$font-weight-light;
  line-height: v.$line-height-xx-small;
}

@mixin text-fontsize-x-small {
  font-size: v.$font-size-x-small;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-x-small;
}

@mixin text-fontsize-small {
  font-size: v.$font-size-small;
  font-weight: v.$font-weight-light;
  line-height: v.$line-height-small;
}

@mixin text-fontsize-medium {
  font-size: v.$font-size-medium;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-medium;
}

@mixin text-fontsize-large {
  font-size: v.$font-size-large;
  font-weight: v.$font-weight-medium;
  line-height: v.$line-height-large;
}

@mixin text-fontsize-x-large {
  font-size: v.$font-size-x-large;
  font-weight: v.$font-weight-medium;
  line-height: v.$line-height-x-large;
}

@mixin header-fontsize-h1 {
  font-size: v.$font-size-xx-large;
  font-weight: v.$font-weight-black;
  line-height: v.$line-height-xx-large;
}

@mixin header-fontsize-h2 {
  font-size: v.$font-size-x-large;
  font-weight: v.$font-weight-bold;
  line-height: v.$line-height-x-large;
}

@mixin header-fontsize-large-h1 {
  font-size: v.$font-size-xxx-large;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-xxx-large;
}

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin nth-child($num) {
  &:nth-child(n + #{$num}) {
    @content;
  }
}

@mixin media-1679 {
  @media (max-width: 1680px) {
    @content;
  }
}

@mixin media-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin media-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin media-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin name-animation {
  @keyframes developername {
    0.6977%,
    90.2093% {
      content: "";
    }
    1.8372%,
    89.0698% {
      content: "М";
    }
    2.9767%,
    88.9302% {
      content: "Ма";
    }
    3.1163%,
    87.7907% {
      content: "Мак";
    }
    4.2558%,
    86.6512% {
      content: "Макс";
    }
    5.3953%,
    85.5116% {
      content: "Макси";
    }
    6.5349%,
    84.3721% {
      content: "Максим";
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
