@use "./variables" as v;

@mixin text-gradient {
  background: v.$text-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-fontsize-xx-small {
  font-size: v.$font-size-xx-small;
  font-weight: v.$font-weight-light;
  line-height: v.$line-height-xx-small;
}

@mixin text-fontsize-x-small {
  font-size: v.$font-size-x-small;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-x-small;
}

@mixin text-fontsize-small {
  font-size: v.$font-size-small;
  font-weight: v.$font-weight-light;
  line-height: v.$line-height-small;
}

@mixin text-fontsize-medium {
  font-size: v.$font-size-medium;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-medium;
}

@mixin text-fontsize-large {
  font-size: v.$font-size-large;
  font-weight: v.$font-weight-medium;
  line-height: v.$line-height-large;
}

@mixin header-fontsize-h1 {
  font-size: v.$font-size-xx-large;
  font-weight: v.$font-weight-black;
  line-height: v.$line-height-xx-large;
}

@mixin header-fontsize-h2 {
  font-size: v.$font-size-x-large;
  font-weight: v.$font-weight-bold;
  line-height: v.$line-height-x-large;
}

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin nth-child($num) {
  &:nth-child(n + #{$num}) {
    @content;
  }
}

@mixin media-1679 {
  @media (max-width: 1680px) {
    @content;
  }
}

@mixin media-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin media-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin media-767 {
  @media (max-width: 767px) {
    @content;
  }
}
