/* Colors */

$white: #ffffff;
$black: #000000;
$red: #ff0000;
$light-blue: #1cc2e7;
$grey-blue: #94a9c9;
$blue: #0ea5ea;
$dark-blue: #0f172a;
$light-grey: #222f43;
$grey: #43454d;
$dark-grey: #131c31;
$aqamarin: #12f7d6;

/* Background colors */

$main-background-color: $dark-blue;
$background-element-color: $dark-grey;

/* Shadows */

$shadow: 0 3px 20px rgba(11, 209, 209, 0.2);

/* Borders colors */

$border-color: $light-grey;

/* Text colors */

$text-gradient: linear-gradient(90deg, #0ea5ea, #12f7d6 51%, #0ea5ea);
$text-color: $grey-blue;

/* Text size */

$font-size-xx-small: 14px;
$font-size-x-small: 16px;
$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-x-large: 45px;
$font-size-xx-large: 64px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-weight-super: 900;

$line-height-xx-small: 16px;
$line-height-x-small: 18px;
$line-height-small: 24px;
$line-height-medium: 32px;
$line-height-large: 42px;
$line-height-x-large: 61px;
$line-height-xx-large: 87px;
