@use "../../../variables" as v;
@use "../../../mixins" as m;

.article {
  margin: 0px auto;
  max-width: 1440px;
  min-height: calc(100vh - 340px);

  @include m.media-1679 {
    max-width: 1280px;
  }

  @include m.media-1439 {
    max-width: 768px;
  }

  @include m.media-1023 {
    max-width: 680px;
  }

  @include m.media-767 {
    max-width: 290px;
  }

  &__container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr minmax(14rem, 25%);
    @include m.media-1023 {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }

  &__post-image {
    width: 100%;
    border-radius: 30px;
    border: 1px solid v.$border-color;
    margin-bottom: 30px;
    @include m.media-767 {
      width: 290px;
      height: 240px;
    }
  }

  &__content {
    padding: 0px 20px 60px 0px;
    @include m.media-767 {
      padding: 0px 0px 60px 0px;
    }
  }

  &__post {
    @include m.media-767 {
      width: 290px;
    }
  }

  &__quote {
    margin: 20px 0px;
    padding: 20px 10px 5px 50px;
    border-radius: 15px;
    border: 1px solid v.$border-color;
    background-color: v.$background-element-color;
    position: relative;
  }

  &__quote::before {
    content: "";
    position: absolute;
    background: url(../../../_images/quote.svg) no-repeat center;
    left: 15px;
    top: 15px;
    width: 24px;
    height: 24px;
    background-size: contain;
  }

  &__text {
    padding-bottom: 15px;
    @include m.text-fontsize-small;
    color: v.$text-color;
  }

  &__subtitle {
    padding: 15px 0px 20px 0px;
    @include m.text-fontsize-large;
    color: v.$text-color;
    @include m.media-767 {
      max-width: 290px;
      word-wrap: break-word;
    }
  }

  &__subsubtitle {
    padding: 20px 0px 15px 0px;
    @include m.text-fontsize-medium;
    color: v.$text-color;
  }

  &__lists {
    margin: 0px 0px 20px 40px;
    color: v.$text-color;
  }

  &__lists-numbered {
    margin: 0px 0px 20px 40px;
    color: v.$text-color;
  }

  &__list-item {
    padding: 7px 0px;
    @include m.text-fontsize-small;
    color: v.$text-color;
    @include m.media-767 {
      max-width: 290px;
      word-wrap: break-word;
    }
  }

  &__link {
    color: v.$blue;
    @include m.hover {
      color: v.$light-blue;
    }
  }

  &__underline {
    @include m.text-fontsize-small;
    color: v.$text-color;
  }

  &__bold {
    @include m.text-fontsize-small;
    color: v.$text-color;
  }

  &__strong {
    color: v.$text-color;
  }

  &__img {
    width: 100%;
    height: 100%;
    @include m.media-767 {
      width: 290px;
      height: 240px;
    }
  }
}
