@use "../../variables" as v;
@use "../../mixins" as m;

.login {
  min-width: 100%;
  min-height: 100vh;
  background-color: v.$main-background-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__conteiner {
    min-width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border: 1px solid v.$border-color;
    background-image: url(../../_images/security.svg);
    background-repeat: no-repeat;
    background-position: 30px 0px;
    background-size: 100%;
  }

  &__title {
    @include m.header-fontsize-h1;
    @include m.text-gradient;
  }
}
