@use "../../variables" as v;
@use "../../mixins" as m;

.developer {
  width: 100%;
  background-color: v.$light-dark-blue;

  &__conteiner {
    margin: 0 auto;
    padding: 64px 0px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include m.header-fontsize-large-h1;
    @include m.text-gradient;
    @include m.media-1023 {
      font-size: 86px;
    }
    @include m.media-767 {
      font-size: 48px;
      line-height: 50px;
    }
  }

  &__content {
    padding-top: 64px;
    display: flex;
    gap: 32px;
    @include m.media-1439 {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }

  &__contacts {
    min-width: 320px;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 160px 0px;
    border: 4px solid v.$white;
    box-shadow: -4px -4px 2px 0px v.$light-blue;
    @include m.media-767 {
      min-width: 272px;
    }
  }

  &__avatar {
    margin-top: 37px;
    object-fit: cover;
    border: 3px solid v.$light-blue;
    border-radius: 65px;
    box-shadow: v.$shadow;
    @include m.hover {
      transition-duration: 0.2s;
      border: 2px solid v.$blue;
    }
  }

  &__name {
    padding-top: 16px;
    @include m.text-fontsize-large;
    color: v.$main-text-color;
  }

  &__profession {
    @include m.text-fontsize-xx-small;
    color: v.$main-text-color;
  }

  &__contact-lists {
    min-width: 270px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    @include m.media-767 {
      min-width: 220px;
    }
  }

  &__contact-list {
    color: v.$main-text-color;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__techs {
    max-width: 260px;
    padding-top: 24px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
    @include m.media-767 {
      max-width: 190px;
      justify-content: flex-start;
    }
  }

  &__tech {
    padding: 2px 6px;
    background-color: v.$light-blue;
    border: none;
    border-radius: 8px;
    @include m.text-fontsize-xx-small;
    color: v.$black;
  }

  &__tech:nth-child(even) {
    margin: 0px 8px;
    @include m.media-767 {
      margin: 0px 4px;
    }
  }

  &__info {
    max-width: 960px;
    @include m.media-1439 {
      padding-top: 64px;
    }
    @include m.media-1023 {
      max-width: 680px;
    }
    @include m.media-767 {
      max-width: 285px;
      padding-left: 0px;
      margin: 0px auto;
    }
  }

  &__html-tag {
    @include m.text-fontsize-xx-small;
    color: v.$light-blue;
  }

  &__user-text {
    font-size: 55px;
    font-weight: 400;
    line-height: 62px;
    color: v.$main-text-color;
    @include m.media-1023 {
      font-size: 32px;
      line-height: 36px;
    }
    @include m.media-767 {
      font-size: 26px;
      line-height: 32px;
    }
  }

  &__animation-name {
    @include m.text-gradient;
    @include m.name-animation;
  }

  &__animation-name::before {
    content: "";
    animation: developername 20s infinite;
  }

  &__animation-name::after {
    content: "";
    border-right: 1px solid v.$white;
    animation: blink 1s linear infinite;
  }

  &__description {
    padding-top: 32px;
  }

  &__description-text {
    padding: 16px 0px;
    max-width: 1070px;
    @include m.text-fontsize-small;
    color: v.$main-text-color;
    @include m.media-1023 {
      max-width: 680px;
    }
    @include m.media-767 {
      max-width: 280px;
    }
  }

  &__contact-link {
    padding-top: 16px;
    padding-left: 24px;

    display: flex;
    gap: 16px;
  }

  &__contact-link-text {
    @include m.text-fontsize-large;
    @include m.text-gradient;
  }

  &__contact-link-btn {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../../_images/icon-mail.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: v.$grey;
    border-radius: 40px;
    @include m.hover {
      transform: translateY(-2px);
      transition-duration: 0.2s;
      cursor: pointer;
      border: 1px solid v.$blue;
      box-shadow: v.$shadow;
    }
  }
}

.text-position {
  padding-left: 16px;
}
